@use "./../01-abstracts/" as *;

.wrapper {
  padding: 38px 36px 40px 35px;
  position: relative;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.header {
  margin-bottom: 70px;
  padding: 0 4px;

  &__logo {
    max-width: 120px;
  }
}
