@use "./../01-abstracts/" as *;

.wrapper {
  padding: 38px 36px 40px 35px;
  margin: auto;
  position: relative;

  @include breakpoint($lg) {
    padding: 64px 85px 40px 80px;
    max-width: calc(1275px + 85px + 80px);
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.header {
  margin-bottom: 70px;
  padding: 0 4px;

  @include breakpoint($lg) {
    margin-bottom: 104px;
    padding: 0;
  }

  &__logo {
    max-width: 120px;
    @include breakpoint($lg) {
      max-width: 200px;
    }
  }
}

.footer {
  &__socials {
    display: flex;
    justify-content: center;
    gap: 10px;

    @include breakpoint($lg) {
      justify-content: flex-end;
      gap: 16px;
    }

    &-a {
      color: white;
      border: 1px solid white;
      border-radius: 100%;
      width: 27.5px;
      height: 28px;
      display: flex;
      padding: 7px;

      @include breakpoint($lg) {
        width: 40px;
        height: 40px;
        padding: 10px;
      }
    }
  }
}
