@use "./../01-abstracts/" as *;

.main {
  margin-bottom: 64px;
  display: grid;
  gap: 60px;
  text-align: center;

  @include breakpoint($lg) {
    margin-bottom: 27px;
    grid-template-columns: 696fr 520fr;
    gap: 59px;
    text-align: left;
  }

  &__illustration {
    padding: 0 4px;
    max-width: 696px;
    margin: auto;

    @include breakpoint($lg) {
      padding: 0;
    }
  }

  &__title {
    font-weight: 600;
    font-size: rem(24px);
    line-height: rem(36px);
    margin-bottom: 16px;

    @include breakpoint($lg) {
      padding-top: 32px;
      font-size: rem(40px);
      line-height: rem(60px);
      margin-bottom: 24px;
    }
  }

  &__text {
    margin-bottom: 24px;

    @include breakpoint($lg) {
      font-size: rem(18px);
      line-height: rem(27px);
    }
  }

  &__btn {
    background-color: white;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);
    border-radius: 20px;
    border: none;
    color: $purple;
    width: 200px;
    height: 40px;
    font-size: rem(12px);
    line-height: rem(18px);
    transition: 0.2s ease;

    &:hover {
      color: white;
      background-color: $pink;
    }
    
    &:active {
      transform: scale(0.9);
    }

    @include breakpoint($lg) {
      height: 56px;
      border-radius: 28px;
      font-size: rem(18px);
      line-height: rem(27px);
      box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.258633);
    }
  }
}
